---
layout: default
---
<h1 class="title">{{ page.title }}</h1>
<bold><p class="bloo"><small>{{ page.date | date_to_string }} - {{ page.author }}
</small></p></bold>
<div class="body">
{{ content }}
</div>
<br />
<br />
<div class="comments">
	<script src="https://giscus.app/client.js"
        data-repo="cambrianimplosion/cambrianimplosion.github.io"
        data-repo-id="R_kgDOKZ_hzw"
        data-category="Ideas"
        data-category-id="DIC_kwDOKZ_hz84CZ6Pv"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
